<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/watch.css}">
	<script src="@{/js/main.js}"></script>
	<title>StopWatch</title>
</head>
<body>
	<h2>StopWatch</h2>
	<div id="timer">00:00.00</div>
	<button id="start" onclick="start()">Start</button>
	<button id="stop" onclick="stop()">Stop</button>
	<button id="reset" onclick="reset()">Reset</button>
</body>
</html>